<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>shj_20</string>
					<string>shj_29</string>
					<string>shj_40</string>
					<string>shj_58</string>
					<string>shj_60</string>
					<string>shj_76</string>
					<string>shj_80</string>
					<string>shj_87</string>
					<string>shj_120</string>
					<string>shj_152</string>
					<string>shj_167</string>
					<string>shj_180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>akb_20</string>
					<string>akb_40</string>
					<string>akb_58</string>
					<string>akb_60</string>
					<string>akb_76</string>
					<string>akb_80</string>
					<string>akb_87</string>
					<string>akb_120</string>
					<string>akb_152</string>
					<string>akb_167</string>
					<string>akb_180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>shj_20</string>
					<string>shj_29</string>
					<string>shj_40</string>
					<string>shj_58</string>
					<string>shj_60</string>
					<string>shj_76</string>
					<string>shj_80</string>
					<string>shj_87</string>
					<string>shj_120</string>
					<string>shj_152</string>
					<string>shj_167</string>
					<string>shj_180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Icon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>akb_20</string>
					<string>akb_40</string>
					<string>akb_58</string>
					<string>akb_60</string>
					<string>akb_76</string>
					<string>akb_80</string>
					<string>akb_87</string>
					<string>akb_120</string>
					<string>akb_152</string>
					<string>akb_167</string>
					<string>akb_180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>自测app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alipay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chmycode</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>jdlogin</string>
		<string>openapp.jdmobile</string>
		<string>taobao</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV4</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>tbopen</string>
		<string>tmall</string>
		<string>pinduoduo</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>iosamap</string>
		<string>baidumap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>哈哈哈哈</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>推荐周边</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>获取位置</string>
	<key>NSLocationUsageDescription</key>
	<string>使用位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>当需要使用位置时定位</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string></string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
